# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Logs
*.log
app.log

# Environment variables
.env

# Certificates / keys
*.pem
*.key
*.crt

# OAuth secrets
client_secret*.json

# MacOS
.DS_Store

# VSCode
.vscode/